@font-face {
  font-family: "iconfont"; /* Project id 4409562 */
  src: url("../assets/fonts/iconfont.ttf") format("truetype");
}

[class*=" if-icon-"],
[class^="if-icon-"] {
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.if-icon-align-left:before {
  content: "\e637";
}

.if-icon-align-right:before {
  content: "\e638";
}

.if-icon-align-center:before {
  content: "\e639";
}

.if-icon-vert-flip:before {
  content: "\e75c";
}

.if-icon-hori-flip:before {
  content: "\ea62";
}

.if-icon-set-zero:before {
  content: "\e68d";
}

.if-icon-count:before {
  content: "\e627";
}

.if-icon-arrow-tb:before {
  content: "\ea58";
}

.if-icon-arrow-lr:before {
  content: "\ea61";
}

.if-icon-line:before {
  content: "\e60c";
}

.if-icon-redo:before {
  content: "\e7cf";
}

.if-icon-undo:before {
  content: "\e822";
}

.if-icon-json:before {
  content: "\ea42";
}

.if-icon-save:before {
  content: "\e6b2";
}

.if-icon-priority:before {
  content: "\e615";
}

.if-icon-un-priority:before {
  content: "\e636";
}

.if-icon-fdir:before {
  content: "\e63b";
}

.if-icon-textarea:before {
  content: "\e64b";
}

.if-icon-unlink:before {
  content: "\e6fd";
}

.if-icon-start:before {
  content: "\e6c3";
}

.if-icon-end:before {
  content: "\e6c5";
}

.if-icon-text:before {
  content: "\e63e";
}

.if-icon-paste:before {
  content: "\ea32";
}

.if-icon-grid:before {
  content: "\e77a";
}

.if-icon-blueprint:before {
  content: "\ea60";
}

